
head{

}

p {
    font: 14px sans-serif;
  }

  img {
    width: 720px;
 
  }


body{
    background-color: rgb(240, 246, 248);
    
}

h1{
  text-align: center; 
  background-color: rgb(215, 229, 241);
}

h3{
    background-color: rgb(215, 229, 241); 
}

h4{
    style="font-size: 21px;"
}