
head{

}

p {
    font: 14px sans-serif;
  }

  img {
    width: 720px;
 
  }


body{
    background-color: rgb(230, 240, 239);
    
}

h1{
    background-color: rgb(200, 228, 224);
}