
head{

}

p {
    font: 14px sans-serif;
  }

  img {
    width: 720px;
 
  }


body{
    background-color: rgb(255, 255, 255);
    
}

h1{
  text-align: center; 
  background-color: rgb(235, 238, 240);
}

h3{
  background-color: rgb(235, 238, 240);
}

h4{
    style="font-size: 21px;"
}