

table {
    border-collapse: collapse;
    border: 2px black solid;
    font: 14px sans-serif;
  }

  td {
    border: 1px black solid;
    padding: 5px;
  }
  tr:nth-child(even) {
    background-color: #ddd;
  }

  body{
    background-color: rgb(255, 255, 255);
    
}

h1{
   text-align:center;
   background-color: rgb(235, 238, 240);
}
